/* // Small devices (landscape phones, 576px and up) */

/* // Medium devices (tablets, 768px and up) */


/* //Large devices (desktops, 992px and up) */


/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... }*/

/* media queries */
/* //Large devices (desktops, 992px and up) */
@media only screen and (min-width: 993px) and (max-width: 1200px){
    .mplate {
        display: flex;
        justify-content: flex-end !important;
        align-items: center;
        /* padding-top: 4rem; */
        width: 100%;
        margin-left: 10rem;
        overflow: hidden !important;
        /* box-sizing: border-box; */
        
        
        
       
        
       
    }
    
    .ballplate {
        width: 100%;
        
       
       
        
       
    }
    .fcircle {
        
        width: 15rem;
        height: 15rem;
        border-radius: 300px;
        
    }
    
    
    .scircle {
        position:absolute;
        width: 11rem;
        height: 11rem;
        left: 26rem;
        top: 8rem;
        border-radius: 300px;
        overflow: hidden;
        /* clip-path: polygon(69% 0, 69% 100%, 0 100%, 0 0);
        */
        
    }
    
    
    
    
    .tcircle{
        position: absolute;
        width: 9rem;
        height: 9rem;
        left: 17.5rem;
        top: 16rem;
        border-radius: 300px;
        
    }

    .helpwayz{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: auto;
        padding: 4rem 4rem 4rem 4rem ;
        border-radius: 0 2rem 5rem 0;
        background: #1C3A27;
        /*Working on below*/
        margin: 0 0 0 -4.8rem;
        -webkit-transform: skew(20deg);
        -moz-transform: skew(20deg);
        -o-transform: skew(20deg);
        overflow: hidden;
        
        /* clip-path: polygon(82% 0, 84% 0, 83% 5%, 84% 6%, 100% 87%, 98% 95%, 90% 100%, 0 100%, 0 0, 78% 0);
    
    
        border-radius: 0rem 20.5rem 8rem 0rem; */
    
    }

    .myhelp {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        width: 70%;
        
       
        
     }
    
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
    

    /* .navbar-expand-md .navbar-toggler {
    display: block !important;
    } */

    /* .navbar-expand-md .navbar-collapse {
        display: none !important;
    } */

    .menuList {
        display: none !important;
    }
    .mybanz {
        display: flex;
        flex-direction: column-reverse; 
        justify-content: space-between;
        padding: 0 2rem 3rem 2rem !important;
        
    }
    .myheader {
        height: auto;
        color: white;
        margin: 0;
       
        background: #1C3A27;
        border-radius: 0px 0px 0px 80px;
    }

    .myhelp {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: flex-end;
        width: 70%;
        
        -webkit-transform: skew(-20deg);
        -moz-transform: skew(-20deg);
        -o-transform: skew(-20deg);
        
     }

     .helpz-div{
         width: auto;
     }

    .navbar {
        display: flex !important;
        justify-content: space-between!;
        background: #1C3A27;
        color: white;
        margin-bottom: 4rem;
        width: 100%;
        padding: 1.5rem 1.5rem 4rem 2rem !important;
        
    
        
    }

    /* .mynavv {
        display: block !important;
    } */
    .navbar-nav {
    
        margin-left: 0rem !important;
    }
    .navbar-nav li {
        padding-left: 2rem !important;
    }

    .hom {
        padding: 0rem !important;
        
    } 

    
    .menb {
        padding-left: 0 !important;
        
    
    }

    .menb ul {
        padding-left: 0 !important;
    
    }



    .btn-log {
        width: 5rem !important;
        height: 2rem !important;
        padding: 0.65rem !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logi {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
        
    }

    .ftext h1 {
        font-size: 2.5rem;
    }
    
    .ftext p {
        font-size: 1rem;
    }

    .mplate {
        padding: 0;
        margin: 0;
    }

    .ballplate {
        width: 100%;
        padding-bottom: 12rem;
        padding-left: 0;
        /* display: grid;
        grid-template-columns: 25% 20% 20% 20%;
        grid-template-rows: 20% 20% 20% 20%; */
       
        
       
    }

    .fcircle {
    
        width: 16rem;
        height: 16rem;
        border-radius: 300px;
        
    }
    
    
    .scircle {
        position:absolute;
        width: 11rem;
        height: 11rem;
        left: 18rem;
        top: 6rem;
        border-radius: 300px;
       
    
        
    }
    
    
    
    
    .tcircle{
        position: absolute;
        width: 9rem;
        height: 9rem;
        left: 10rem;
        top: 16.5rem;
        border-radius: 300px;
        
    }
    
    
    
    .article-tittle h1 {
        font-size: 2.5rem;
        font-weight: 500;
        font-style: normal;
        color: #2E2E2E;
    }

    .article-fig h1 {
        font-size: 5.5rem;
        font-weight: 500;
        font-style: normal;
        color: #E6E6E6;
    }

    .missionT h1 {
        font-size: 2.5rem;
        font-weight: bold;
        color: #2E2E2E;
    }

    .mycardz-tittle {
        font-size: 1rem !important;
        font-weight: 700 !important;
        font-style: normal !important;
        font-feature-settings: 'pnum' on, 'lnum' on !important;
    }

    .mycardz-text {
        font-size: 0.8rem !important;
        font-weight: normal !important;
        font-style: normal !important;
        color: #808080 !important;
    }
    .project-tittle h1 {
        font-size: 2.5rem;
        font-weight: bold;
        font-style: normal;
        color: #2E2E2E;
    }

    .pro-text {
    
        display: none;
       
        
    }

    .latest:hover .pro-text {
        display: flex;
    }

    .first-on-odaz:hover .odaz-pro-text {
        display: flex;
    }

    .odaz-pro-text {
    
        display: none;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 60%;
        background: #1C3A27;
        border-radius: 0rem 1rem;
        padding: 1.5rem;
        
    }

    .first-on-odaz:hover .odaz-pro-text {
        display: flex;
    }

    .pro-text-odaz p {
        font-size: 0.4rem;
    }

    .pro-text-odaz h6 {
        font-size: 0.6rem;
    }

  
    .helpz-text h2 {
        width: 15rem;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        color: #FFFFFF;
    }

    .helpz-text p {
        width: 18rem;
        
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        color: #E6E6E6;
    }

    .helpwayz{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: auto;
        padding: 4rem 4rem 4rem 4rem ;
        border-radius: 0 2rem 5rem 0;
        background: #1C3A27;
        /*Working on below*/
        margin: 0 0 0 -4.8rem;
        -webkit-transform: skew(20deg);
        -moz-transform: skew(20deg);
        -o-transform: skew(20deg);
        overflow: hidden;
        
        /* clip-path: polygon(82% 0, 84% 0, 83% 5%, 84% 6%, 100% 87%, 98% 95%, 90% 100%, 0 100%, 0 0, 78% 0);
    
    
        border-radius: 0rem 20.5rem 8rem 0rem; */
    
    }

    .help-btn {
        display: flex;
    }

    .blog-md {
        margin-top: 0.5rem;
    }

    .fut-text {
        font-style: normal;
        font-weight: normal;
        font-size: 0.8rem;
        color: #808080;
    }
}
/* Smaller devices */
@media only screen and (max-width: 768px) {
    .myheader {
        height: auto;
        color: white;
        margin: 0;
        padding: 1rem 0rem 2rem 0rem;
        background: #1C3A27;
        border-radius: 0px 0px 0px 80px;
    }

    .navbar {
        background-color: #1C3A27 !important;
        margin: 0 0 2rem 0 !important;
        width: 100% !important;
        padding: 3rem 2rem 3rem 2rem;
    
    }

    .mybanz{
        padding: 0 2rem 3rem 2rem !important;
    }

    .ftext {
        padding: 0;
        margin: 0;
    }
   
    .ban-img {
        display: none !important;
      
    }

    .menb {
        width: 100%;
        display: block !important;
        justify-content: space-between !important;
    }

    .menb ul {
        margin: 0 !important;
    }

    .menb ul li {
        padding-left: 0 !important;
    }

    .logi {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
    }

    .myarticles{
        padding: 0rem 2rem 4rem 2rem ;
    
    }
    .plati {
        margin-top: 4rem;
    }

    .article-head-plate {
        padding-top: 4rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
       
    }

    .article-tittle h1 {
        font-size: 2rem;
        font-weight: 500;
        font-style: normal;
        color: #2E2E2E;
    }
    .article-num-plate {
        display: flex;
        justify-content: flex-start;
    }
    .article-fig h1 {
        font-size: 4.5rem;
        font-weight: 500;
        font-style: normal;
        color: #E6E6E6;
    }

    .article-text p {
        color: #808080;
        font-weight: normal;
        font-style: normal;
        font-size: 0.8rem;
        
    }

    .article-link a {
        font-size: 0.8rem !important;
        font-style: normal !important;
        font-weight: bold !important;
        font-feature-settings: 'pnum' on, 'lnum' on !important;
        color: #53C351 !important;
    }

    .missionT h1 {
        font-size: 2rem;
        font-weight: bold;
        color: #2E2E2E;
    }

    .missionplate {
        padding: 3rem 2rem 3rem 2rem;
    }

    .mycardz-tittle {
        font-size: 0.9rem !important;
        font-weight: 700 !important;
        font-style: normal !important;
        font-feature-settings: 'pnum' on, 'lnum' on !important;
    }

    .mycardz-text {
        font-size: 0.7rem !important;
        font-weight: normal !important;
        font-style: normal !important;
        color: #808080 !important;
    }
    .propla {
        padding: 3rem 2rem;
    }

    .first-on-odaz:hover .odaz-pro-text {
        display: flex;
    }
    .odaz-pro-text {
        display: none;
    }
    .project-tittle h1 {
        font-size: 2rem;
        font-weight: bold;
        font-style: normal;
        color: #2E2E2E;
    }
    .butz {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .projectz {
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 0;
       
        
    }

    .latest{
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 30rem;
        background-image: url('../images/nature1.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 1rem;
        padding: 0;
        margin: 0 0 0.5rem 0;
    }
   

    .latest:hover .pro-text {
        display: flex;
    }

    .pro-text {
    
        display: none;
        justify-content: space-between;
        width: 100%;
        height: 30%;
        background: #1C3A27;
        border-radius: 0rem 1rem;
        padding: 2.5rem;
        
    }


    .first-on-odaz {
        display: flex;
        align-items: flex-end;
        background-image: url('../images/nature2.jpg');
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 30rem;
        border-radius: 1rem;
    }

    .first-on-odaz:hover .odaz-pro-text {
        display: flex;
    }

    .odaz-pro-text {
    
        display: none;
        justify-content: space-between;
        width: 100%;
        height: 30%;
        background: #1C3A27;
        border-radius: 0rem 1rem;
        padding: 2.5rem;
        
    }

    .helpwayz{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 2.5rem 2rem 2.5rem 2rem ;
        border-radius: 0;
        background: #1C3A27;
        transform: none;
        margin: 0;
    
    }

    .helpz-text h2 {
        width: 80%;
        font-style: normal;
        font-weight: bold;
        font-size: 1.9rem;
        color: #FFFFFF;
    }

    .helpz-text p {
        width: 80%;
        
        font-style: normal;
        font-weight: normal;
        font-size: 0.9rem;
        color: #E6E6E6;
    }

    .myhelp {
        display: flex;
        flex-direction: column;
        transform: none;
        width: 100%;
     }

     .blog-xs {
         margin-bottom: 0.5rem;
     }

     .kada {
         padding: 3rem 2rem;
     }

     .kad {
        padding: 0;
    }

    footer {
        padding: 3rem 2rem;
    }

    .iconi {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .myheader {
        height: auto;
        color: white;
        margin: 0;
        padding: 1rem 0rem 2rem 0rem;
        background: #1C3A27;
        border-radius: 0px 0px 0px 80px;
    }

    .navbar {
        background-color: #1C3A27 !important;
        margin: 0 0 2rem 0 !important;
        width: 100% !important;
        padding: 2rem 1rem 2rem 1rem;
    
    }

    .mybanz{
        padding: 0 1rem 2rem 1rem !important;
    }
    .ftext h1 {
        font-size: 2rem;
        width: 80%;
    }

    .article-head-plate {
        padding-top: 4rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
       
    }

    .myarticles{
        padding: 0rem 1rem 2rem 1rem ;
    
    }
    .plati {
        margin-top: 2rem;
    }

    .article-num-plate {
        display: flex;
        justify-content: flex-start;
    }

    .propla {
        padding: 2rem 1rem 2rem 1rem;
    }
    .project-tittle h1 {
        font-size: 2rem;
        font-weight: bold;
        font-style: normal;
        color: #2E2E2E;
    }
    .butz {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .projectz {
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 0;
       
        
    }

    .latest{
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 25rem;
        background-image: url('../images/nature1.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 1rem;
        padding: 0;
        margin: 0 0 0.5rem 0;
    }

    .pro-text {
    
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 35%;
        background: #1C3A27;
        border-radius: 0rem 1rem;
        padding: 2.5rem;
        
    }

    .first-on-odaz {
        display: flex;
        align-items: flex-end;
        background-image: url('../images/nature2.jpg');
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 25rem;
        border-radius: 1rem;
    }

    .odaz-pro-text {
    
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 35%;
        background: #1C3A27;
        border-radius: 0rem 1rem;
        padding: 2.5rem;
        
    }

    .helpwayz{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 1rem 1rem 1rem 1rem ;
        border-radius: 0;
        background: #1C3A27;
        clip-path: none;
    
    }

    .helpz-text h2 {
        width: 100%;
        font-style: normal;
        font-weight: bold;
        font-size: 1.9rem;
        color: #FFFFFF;
    }

    .helpz-text p {
        width: 100%;
        
        font-style: normal;
        font-weight: normal;
        font-size: 0.9rem;
        color: #E6E6E6;
    }

    .myhelp {
        display: flex;
        flex-direction: column;
        
        width: 100%;
     }

     .help-btn {
         display: flex;
         flex-direction: column;
     }
     .btnnn {
        margin-left: 0rem !important;
        width: 10rem !important;
    }
    
    .iconi {
        display: none;
    }

    .missionplate {
        padding: 2rem 1rem;
    }

    .propla {
        padding: 2rem 1rem;
    }

    footer {
        padding: 4rem 0.5rem;
    }
    .kada {
        padding: 2rem 1rem 2rem 1rem;
    }

    .kad {
        padding: 0;
    }

    .ban-img {
        display: none !important;
    }
}