@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');



html, body {
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif !important;
    
}

 

.myheader {
    height: 41rem;
    color: white;
    margin: 0;
    padding: 0 0 4rem 0;
    background: #1C3A27;
    border-radius: 0px 0px 0px 80px;
    overflow: hidden;
}

.navbar {
    background-color: #1C3A27 !important;
    margin: 0 0 3rem 0 !important;
    width: 100% !important;
    padding: 2.5rem 5rem 2.5rem 5rem;

}

.nav-item {
    padding-left: 2rem;
}

.nav-item:active {
    
    border-bottom: chartreuse 0.5px solid !important;

}

.nav-link {
    color: white !important;
    font-size: 0.95rem !important;
}
.nav-link:hover {
    color: chartreuse !important;
    font-size: 0.95rem !important;
}




/* .navbar-collapse {
    flex-basis: 0 !important;
} */

/* .nav-item :hover {
    
    background: #53C351;
} */
.btn {
    padding: 0rem 1.5rem 0rem 1.5rem  !important;
    /* margin-left: 8rem; */

}

.btn-start {
    margin-right: 1.5rem;
    background: yellowgreen;
}

.btn-log {
    width: 7.5rem !important;
    height: 2.5rem !important;
    margin-left: 1.5rem;
    padding: 0.75rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-log:hover {
    
   
    background: #53C351 !important ;
}

.logi {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.btn-all {
    
    color: white !important;
    font-size: 12px;
    width: auto !important;
    height: auto;
    padding: 0.75rem 2rem 0.75rem 2rem !important;
}
.tuzz {
    display: flex !important;
    justify-content: space-between !important;
}
.ftext {
    width: 100%;
}

.ftext h1 {
    font-size: 3.75rem;
}

.ftext p {
    font-size: 0.95rem;
}

.play p {
    margin-left: 0.6rem;
    cursor: pointer;
}
.playicon {
    cursor: pointer;
}

.play {
    cursor: pointer;
}


.intro h1 {
    margin-bottom: 2rem;
}

.mybtnplate {
    display: flex;
    padding: 0;
}

.mybtn {
    margin-right: 2rem;
    margin-left: 0;
    padding: 0;

}

.mybtn button {
    background: yellowgreen !important;
    margin-left: 0;
    color: white;
    
}

/* .btn button {
    background: rgb(149, 243, 9);
    border: none;
    border-radius: 0.5rem;
    width: 100%;
    font-size: 1rem;
    color: white;
    padding: 0.4rem 0.9rem 0.4rem 0.9rem;
} */

.mybanban {
    padding: 0 !important;
}
.mybanz {
    padding: 0 0rem 0rem 5rem !important;
}
.ftext-pla {
    padding: 0 !important;
}

.play {
    display: flex;
    align-items: center;
}
.play p {
    display: flex;
    margin: 0.3rem;
    align-items: center;
}

.mplate {
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
    /* padding-top: 4rem; */
    width: 100%;
    margin-left: 13rem;
    overflow: hidden !important;
    /* box-sizing: border-box; */
    
    
    
   
    
   
}

.ballplate {
    width: 100%;
    
   
   
    
   
}
.fcircle {
    
    width: 18rem;
    height: 18rem;
    border-radius: 300px;
    
}


.scircle {
    position:absolute;
    width: 11rem;
    height: 11rem;
    left: 33rem;
    top: 8rem;
    border-radius: 300px;
    overflow: hidden;
    /* clip-path: polygon(69% 0, 69% 100%, 0 100%, 0 0);
    */
    
}




.tcircle{
    position: absolute;
    width: 9rem;
    height: 9rem;
    left: 26rem;
    top: 17.5rem;
    border-radius: 300px;
    
}


.myarticles{
    padding: 0rem 3rem 6rem 3rem ;

}
.plati {
    margin-top: 6rem;
}

.article-head-plate {
    padding-top: 6rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.article-tittle-plate{
    /* width: 80%; */
    padding: 0;
    height: auto;
} 

.article-tittle h1 {
    font-size: 4rem;
    font-weight: 500;
    font-style: normal;
    color: #2E2E2E;
}
.article-num-plate {
    display: flex;
    justify-content: end;
}
.article-fig {
    height: auto;
}

.article-fig h1 {
    font-size: 10rem;
    font-weight: 500;
    font-style: normal;
    color: #E6E6E6;
}

.article-text {
    width: 100%;
    padding: 0;
}

.article-text p {
    color: #808080;
    font-weight: normal;
    font-style: normal;
    font-size: 0.95rem;
    
}

.article-link a {
    font-size: 0.95rem;
    font-style: normal !important;
    font-weight: bold !important;
    font-feature-settings: 'pnum' on, 'lnum' on !important;
    color: #53C351 !important;
}

.article-img {
    height: 25rem;
    padding: 0rem 0rem 0rem 0rem;
    overflow: hidden;
    object-fit: cover;
    

}

.article-img img {
    border-radius: 1rem;
    object-fit: cover;
}
.plate{
 
    padding-top: 3rem;
    padding-bottom: 4rem;
}
.plateitem{
    padding-top: 3rem;
}
.capimg {
    margin-top: 0.4rem;
}

.num1 h1 {
    color: rgb(184, 184, 184);
    display: flex;
    align-items: end;
    font-size: 6rem;
    text-align: end;
}

.c1b {
    width: 20%;
    
}

.cont {
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.link {
    color: rgb(80, 131, 80);
}

.mypla {
    background: linear-gradient(180deg, #E2EEEC -5.54%, 
    rgba(227, 239, 237, 0) 100%);
    padding: 0 !important;
}
.missionplate {
    padding: 6rem 3rem 6rem 3rem;
}
.missionT {
    padding: 0 !important;
}

.missionT h1 {
    font-size: 4rem;
    font-weight: 500;
    color: #2E2E2E;
}
.mycardz-plate {
    margin-top: 2.5rem;
}
.Mycardz {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0.5rem;
    margin-top: 0.5rem;
}
.mission-card {
    border-radius: 1rem !important;
    width: 25rem;
    height: 15rem;
    background: none !important;
    border: none !important;
}

.mission-card:hover {
    background: #1C3A27 !important;
    color: white;
}

.mission-card-items {
    width: 100%;
    display: flex;
    align-items: center;

}
/* .mission-items-plate {
   
} */
.mission-img {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.4rem;
    background: #E2EEEC;
    border-radius: 1rem;
}
.mission-img2 {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.4rem;
    background: none;
    border-radius: 1rem;
}

.mycardz-tittle {
    font-size: 1rem !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-feature-settings: 'pnum' on, 'lnum' on !important;
}

.mycardz-text {
    font-size: 0.95rem !important;
    font-weight: normal !important;
    font-style: normal !important;
    color: #808080 !important;
}

.section-3 {
    padding: 0rem 0rem 0rem 0rem;
}

.propla {
    padding: 6rem 3rem 6rem 3rem;
}
.project-head {
    display: grid;
    grid-template-columns: 3fr 1fr;

}

.butz {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.butz button {
    /* margin-left: 10rem; */
    background: #53C351;
   
    /* position: absolute;
    right: -10rem !important; */
}
.project-tittle h1 {
    font-size: 4rem;
    font-weight: 500;
    font-style: normal;
    color: #2E2E2E;
}

.pro-main {
    margin: 0;
    padding: 0 !important;
    width: 100% !important;
}

.projectz {
    height: auto;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-column-gap: 0.5rem;
    padding: 0;
   
    
}




.latest{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: auto;
    background-image: url('../images/nature1.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    padding: 0;
    margin: 0;
}



.pro-text {
    
    display: none;
    justify-content: space-between;
    width: 90%;
    height: 20%;
    background: #1C3A27;
    border-radius: 0rem 1rem;
    padding: 2.5rem;
    
}

.latest:hover .pro-text {
    display: flex;
}

.proj-text p {
    color: #E6E6E6;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7rem;
}

.proj-text h6 {
    color: white;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
}





.iconi {
    display: flex;
    align-items: center;
 } 

.ryt {
    
    color: white;
    font-size: 1rem;
}

.odaz{
    width: 100%;
    display: grid;
    grid-template-rows:1fr 1fr 1fr;
    grid-row-gap: 0.5rem;
    
}
.first-on-odaz {
    display: flex;
    align-items: flex-end;
    background-image: url('../images/nature2.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 15rem;
    border-radius: 1rem;
}

.proj-text-odaz p {
    color: #E6E6E6;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7rem;
}

.proj-text-odaz h6 {
    color: white;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
}
.odaz1-img {
    width: 100%;
    height: 15rem;
    border-radius: 1rem;
}

.odaz-pro-text {
    
    display: none;
    justify-content: space-between;
    width: 100%;
    height: 60%;
    background: #1C3A27;
    border-radius: 0rem 1rem;
    padding: 2.5rem;
    
}

.first-on-odaz:hover .odaz-pro-text {
    display: flex;
}

.odaz-pro-text-icon {
    
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.odazz-text p {
    width: 14rem;
    height: 2rem;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: #E6E6E6;
}

.odazz-text h6 {
    width: 17rem;
    height: 2rem;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}

.helpz{
    width: 100%;
    background-image: url('../images/nature2.jpg');
    background-position: center;
    background-size: cover;
    
    padding: 0!important;
}

.helpwayz{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
    padding: 6rem 6rem 6rem 6rem ;
    border-radius: 0 2rem 5rem 0;
    background: #1C3A27;
    /*Working on below*/
    margin: 0 0 0 -6.5rem;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    overflow: hidden;
    
    /* clip-path: polygon(82% 0, 84% 0, 83% 5%, 84% 6%, 100% 87%, 98% 95%, 90% 100%, 0 100%, 0 0, 78% 0);


    border-radius: 0rem 20.5rem 8rem 0rem; */

}

.myhelp {
   display: flex;
   flex-direction: column;
   align-items:center;
   justify-content: center;
   width: 80%;
   
   -webkit-transform: skew(-20deg);
   -moz-transform: skew(-20deg);
   -o-transform: skew(-20deg);
   
}
.helpz-text {
    width: 75%;
} 

.helpz-text h2 {
    width: auto;
    
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    color: #FFFFFF;
}
.leaf {
    color: greenyellow;
}

.helpz-text p {
    width: 30rem;
    
    font-style: normal;
    font-weight: normal;
    font-size: 0.95rem;
    color: #ece9e9;
}

.blog-tittle {
    font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 4rem;
color: #2E2E2E;
}
.bts {
    
    color:  #53C351 !important;
    background: none !important;
}

.bts:hover{
    color: white !important;
    background: #53C351 !important; ;
}

.batz {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.imgpla {
    width: 100%;
    height: 40rem;
    background-image: url('../images/nature2.jpg');
    
    border-radius: 1rem;
}

.card-article {
    font-size: 0.95rem;
}
.pro {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 1.5rem;
    height: 30rem;
    width: 100%;

}


.mem {
    position: relative;
    background-image: url('../images/nature1.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
}






/* .help-btn {
    display: flex;
    
    align-items: center;
} */
.btnn {
    margin-left: 0;
    width: 10rem !important;
    height: 3rem !important;
    border: white solid 0.1rem;
    color: white;
}

/* .btn:hover {
    
    border: none;
    background: rgb(119, 118, 118);
} */

.btnnn {
    margin-left: 1rem !important;
    width: 10rem !important;
}



.imagecont img {
    width: 100%;
    height: 18rem;
}


.imageplate img {
    width: 20rem;   
}

.cap {
    background-image: url('../images/nature2.jpg');
    height: 25rem;
    width: 30rem;
    border-radius: 0.8rem;
}

.capmini {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.help {
    background-color: green;
}

.helpplate {
    background-image: url('../images/nature1.jpg');
    height: 18rem;
}


/* 
.textboard {
    padding: 0;
    width: 100%;
    height: 20rem;
    background-color: gray;
    /* background-image: url('../images/nature1.jpg'); */
    
/* }
.textside {
    border-radius: 0rem 3rem 3rem 0rem;
    padding-top: 4rem;

    width: 50%;
    /* clip-path: polygon(50% 0, 99% 0, 100% 100%, 83% 100%); */
    /* height: 20rem;
    background-color: rgba(2, 65, 2, 0.568);
} */ */ */

.bant {
    
    margin-left: 3.5rem;
    display: block;
    width: 60%;
    padding-left: 4rem;
    color: white;
}

footer{
    background: #F4F9F8;
    padding: 4rem 3rem;
}
.kada {
    background: linear-gradient(180deg, 
    #E2EEEC -5.54%, rgba(227, 239, 237, 0) 100%);
}
.kad {
    padding: 6rem 3rem 6rem 3rem;
}
.loc {
    display: flex;

}

.fut-log-pix {
    font-weight: 700;
    color: black;
    padding: 0;
}

.fut-head {
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    color: #2E2E2E;
    margin: 0;
}
.fut-text {
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    color: #808080;
}

.mp {
    border-color: black;
    color: black;
}

.icon {
    margin-right: 0.4rem;
}

.blogfut{
    width: 10rem;
}

.blogfut p{
    font-size: 0.8rem;
}

.fm {
    padding: 0.8rem 0.8rem 0.8rem 1rem;
}
.btn4 {
    margin-left: 0;
    background: none;
    
    width: 100% !important;
    color: #53C351 !important;
    outline: #53C351;

}

.btn4:hover {
    margin-left: 0;
    background: #53C351;
    border: none;
    width: 100% !important;
    color: white !important;
}
#inputemail {
    outline: none;
    border: 0.1rem solid rgb(192, 190, 190);
    background-color: white;
}

.abt {
    width: 15rem;
}

.fut-log {
    margin-bottom: 1rem;
    padding: 0 !important;
}


    
